body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h3 {
  margin-left: 220px;
  padding: 30px;
}
.app {
  display: flex;
  gap: 138px;
  flex-wrap: wrap;
  justify-content: center;
}
.PC {
  /* background: url("https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwPTErb3QSXYF7mr4NkG682o") */
  /* no-repeat center center; */
  background-size: cover;
}
.human {
  /* background: url("https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwPfRHUDizkWflzrcxgE_lSA") */
  /* no-repeat center center; */
  background-size: cover;
}

.line {
  display: flex;
}
.block {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.block:hover {
  border: 1px solid red;
}
